
.container {
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
}

.product-card {
    justify-content: center;
    border: 2px solid;
    width: 30%;	
    /* background-color: aliceblue; */
    /* background-color: darksalmon; */
    background-color: #FBC02D;
    margin: 1%;
    box-shadow: 10px 5px 5px black; 
} 

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
}

h1 {
    border-bottom: 1px dotted;
    text-align: center;   
}

.available {
    /* background-color: antiquewhite; */
    /* background-color: aqua; */
    background-color: chocolate;
}
.paragraph1, .paragraph2, .paragraph3 {
    padding: 0px 10px;
    font-weight: bold;
    line-height: .2;
}
.paragraph4 {
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}
